body{
    background-color: black;
    color:white;
}

h1 {
    color: F6F6F6;
}
ul{display:inline-block;
    text-align: center;
    width:30%;
    vertical-align: top;
    border: 5px  solid blue;
    border-radius: 50px;
}
